<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body ng-app="loginApp">
    <h1>Login Page</h1>
    <div ng-controller="loginController">
      <form name="loginForm">
        <label for="name">Name:</label>
        <input id="name" type="text" ng-model="name" required>
        
        <br><br>
        
        <label for="user">Username:</label>
        <input id="user" type="text" ng-model="username" required>

        <br><br>

        <label for="pwd">Password:</label>
        <input id="pwd" type="password" ng-model="password" required>

        <br><br>

        <button type="submit" ng-click="login()">Login</button>
        <button type="reset" ng-click="reset()">Reset</button>

        <br><br>

        <p ng-show="loginForm.$submitted && loginForm.$invalid">Please enter all above fields.</p>
        <p ng-show="loginError">Incorrect username or password.</p>
      </form>
    </div>

    <script>
      var app = angular.module('loginApp', []);
      app.controller('loginController', function($scope) {
        $scope.name = '';
        $scope.username = '';
        $scope.password = '';
        $scope.loginError = false;

        $scope.login = function() {
          if($scope.username === 'admin' && $scope.password === 'password') {
            alert('Login successful!');
            $scope.loginForm.$setPristine();
            $scope.loginError = false;
            $scope.name = '';
            $scope.username = '';
            $scope.password = '';
          } else {
            $scope.loginError = true;
          }
        };

        $scope.reset = function() {
          $scope.loginForm.$setPristine();
          $scope.loginError = false;
          $scope.name = '';
          $scope.username = '';
          $scope.password = '';
        };
      });
    </script>
  </body>
</html>
