/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Header styles */
header {
    background-color: antiquewhite;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin:auto; 
    text-align: center;
}

header>p, footer>p    {
    text-align: center;
}

header>div   {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #666;
}

/* Hero section styles */
#hero {
    height: 100vh;
    background-image: url('path/to/image.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#hero p {
    /* font-size: 1.5rem; */
    margin-bottom: 2rem;
}

.audiotag, .videotag  {
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    
}

#hero button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#hero button:hover {
    background-color: #666;
}

/* Main section styles */

#header{
    margin:auto; 
    text-align: center;
}

header>p, footer>p    {
    text-align: center;
}


section {
    margin-bottom: 5rem;
}

section h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2  {
    text-align: center;
}
section p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

/* Footer styles */
footer {
    background-color: #f7f7f7;
    padding: 1rem;
    text-align: center;
}
h3 {
    background-color: aquamarine;
    margin: auto;
    padding-left: 50px;

}


#newh3  {
    color:green;
    margin:auto ;
    /* align:center; */
    text-align: center;
}

#artivle    {
    background-color:powderblue;
}

#ulnew3 {
    font-family:verdana;
}

#one{
    background-color: blueviolet;
}

#two{
    font-style: italic;
}

.four {
    font-weight: 200;
}

*{
    background-color: antiquewhite;
}

a[href="https://www.w3schools.com/html/html_styles.asp"]{
    color: brown;
}

.mainc  {
    padding-left: 75px;
    padding-right: 25px;
}