h3 {
    background-color: aquamarine;
    margin: auto;
    padding-left: 50px;

}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li {
    margin: 0 1rem;
}

nav a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}
nav a:hover {
    color: #666;
}

header {
    background-color: antiquewhite;
    font-family: sans-serif;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin:auto; 
    text-align: center;
}


#header{
    margin:auto; 
    text-align: center;
}

header>p, footer>p    {
    text-align: center;
}

#newh3  {
    color:green;
    margin:auto ;
    /* align:center; */
    text-align: center;
}

#artivle    {
    background-color:powderblue;
}

#ulnew3 {
    font-family:verdana;
}

/* #one{
    /* background-color: blueviolet; */
/* } */ 

#two{
    font-style: italic;
}

.four {
    font-weight: 200;
}

*{
    background-color: antiquewhite;
}

a[href="https://www.w3schools.com/html/html_styles.asp"]{
    color: brown;
}